<div class="hero">
  <h1>Welcome to CSE Motors!</h1>
  <%- messages() %>

  <div class="hero-content">
    <img src="./images/vehicles/delorean.jpg" alt="">
    <div class="floating-box align-left">
      <h2>DMC Delorean</h2>
      <ul class="car-specs">
        <li>3 Cup holders</li>
        <li>Superman doors</li>
        <li>Fuzzy dicel</li>
      </ul>
      <a href="#" class="btn btn-primary" title="Click to buy this car!">
        Own Today
      </a>
    </div>
  </div>
</div>

<div class="content">
  <div class="car-reviews">
    <h2>DMC Delorean Reviews</h2>

    <ul class="reviews-list">
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride Of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </div>

  <div class="car-upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="upgrades-list">
      <div class="upgrade-item">
        <div class="upgrade-item-image-container">
          <img src="./images/upgrades/flux-cap.png" alt="">
        </div>
        <a href="#" title="Click to buy this upgrade!">Flux Capacitor</a>
      </div>
      <div class="upgrade-item">
        <div class="upgrade-item-image-container">
          <img src="./images/upgrades/flame.jpg" alt="">
        </div>
        <a href="#" title="Click to buy this upgrade!">Flame Decals</a>
      </div>
      <div class="upgrade-item">
        <div class="upgrade-item-image-container">
          <img src="./images/upgrades/bumper_sticker.jpg" alt="">
        </div>
        <a href="#" title="Click to buy this upgrade!">Bumper Stickers</a>
      </div>
      <div class="upgrade-item">
        <div class="upgrade-item-image-container">
          <img src="./images/upgrades/hub-cap.jpg" alt="">
        </div>
        <a href="#" title="Click to buy this upgrade!">Hub Caps</a>
      </div>
    </div>

  </div>
</div>