/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/******* Body ***************/
body {
  font-family: "Arial", sans-serif;
}

/******* Root element ***************/
:root {
  --primary-color: #242333;
  --secondary-color: #004856;
  --primary-btn-gradient: linear-gradient(
    90deg,
    var(--secondary-color) 60%,
    #1fa2ff 100%
  );
}

/******* Wrapper Section ***************/
#wrapper {
  margin: 1rem;
}

/******* Top Header ***************/
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

#top-header a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
}

#top-header a:visited {
  color: var(--primary-color);
}

#top-header .siteName {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
}

#tools > a {
  font-weight: 500;
}

/******* Navigation Bar ***************/
nav {
  background-color: var(--primary-color);
  padding: 1rem;
  color: white;
  font-weight: 600;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav a:visited {
  color: white;
}

/******* Hero Section ***************/
h2 {
  margin: 0;
  padding: 0;
}

.hero-content h2,
.hero-content .car-specs {
  color: var(--secondary-color);
}

.hero-content {
  position: relative;
  font-weight: 600;
}

.hero-content img {
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.floating-box {
  position: absolute;
  background: rgba(255, 255, 255, 0.705);
}

.floating-box.align-left {
  left: 0;
  top: 0;
}

.car-specs {
  list-style: none;
  padding: 0;
  margin: 0;
}

/******* Content Section ***************/
.content {
  margin-bottom: 2rem;
}

/******* Reviews Section ***************/
.reviews-list {
  padding: 1rem;
  margin: 0;
  margin-left: 1px;
}

.reviews-list li {
  margin-bottom: 1rem;
}

/******* Upgrades Section ***************/
.upgrades-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  margin: 1rem 0;
}

.upgrade-item {
  text-align: center;
}

.upgrade-item-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ece9f7 0%, #d1eaf5 100%);
  min-height: 100px;
}

.btn {
  background: var(--primary-btn-gradient);
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
  padding: 0.85rem 2.2rem;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0 2px 8px rgba(31, 162, 255, 0.1);
  transition: background 0.2s, transform 0.2s;
  margin-top: 0.5rem;
  display: inline-block;
}

.btn:hover {
  background: linear-gradient(
    90deg,
    #1fa2ff 60%,
    var(--secondary-color) 100%
  ) !important;
  transform: translateY(-2px) scale(1.04);
}
